<div class="container">
  <h2 class="list__title text-center">The list of all users</h2>
  <hr>
  <div class="filter">
    <mat-form-field class="filter__bar" appearance="outline">
      <mat-icon matSuffix>search</mat-icon>
      <input class="filter__input" matInput [(ngModel)]="filterInput" (keyup)="applyFilter()" placeholder="Filter" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="filter__option mat-form-field" appearance="outline">
      <mat-icon matPrefix>person</mat-icon>
      <mat-label>Role</mat-label>
      <mat-select color="primary" [(ngModel)]="filterSelection.role" (selectionChange)="applyFilter()">
        <mat-option [value]="['admin', 'seller']">All</mat-option>
        <mat-option [value]="['admin']">Admin</mat-option>
        <mat-option [value]="['seller']">Seller</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="filter__option mat-form-field" appearance="outline">
      <mat-icon matPrefix>visibility</mat-icon>
      <mat-label>Status</mat-label>
      <mat-select color="primary" [(ngModel)]="filterSelection.status" (selectionChange)="applyFilter()">
        <mat-option [value]="[true, false]">All</mat-option>
        <mat-option [value]="[true]">Active</mat-option>
        <mat-option [value]="[false]">Inactive</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <app-dashboard-table [columns]="displayedColumns"
                       [dataSource]="dataSource"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="pageSizeOptions"
                       (clickAction)="tableActionHandler($event)">
  </app-dashboard-table>
</div>
