<div class="quick-navigation">
  <button class="quick-navigation__button"
          mat-raised-button
          color="primary"
          type="button"
          (click)="onNavigateToList()">
    <mat-icon>
      arrow_back
    </mat-icon>
    Go back to the list of all products
  </button>
</div>
<div class="addform addform__container" *ngIf="productAddForm">
  <form class="form-group" [formGroup]="productAddForm" (ngSubmit)="onSubmit()">
    <h2>Add product</h2>

    <mat-form-field class="addform__inputfield mat-form-field" appearance="outline">
      <mat-label>Barcode</mat-label>
      <input matInput formControlName="barcode" autocomplete="off" required>
      <mat-error *ngIf="barcode?.touched && barcode?.invalid">
        <span *ngIf="barcode?.errors?.required">This field is mandatory. </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="addform__selectfield mat-form-field" appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select color="primary" formControlName="categoryNames" required multiple>
        <mat-option *ngFor="let category of (categories$ | async)" [value]="category.name">{{ category.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="categoryNames?.touched && categoryNames?.invalid">
        <span *ngIf="categoryNames?.errors?.required">This field is mandatory. </span>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="addform__inputfield mat-form-field" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" autocomplete="off">
      <mat-error *ngIf="name?.touched && name?.invalid">
        <span *ngIf="name?.errors?.required">This field is mandatory. </span>
        <span *ngIf="name?.errors?.maxlength">This name is too long. </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="addform__inputfield mat-form-field" appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput
             formControlName="price"
             autocomplete="off">
      <mat-error *ngIf="price?.touched && price?.invalid">
        <span *ngIf="price?.errors?.required">This field is mandatory. </span>
        <span *ngIf="price?.errors?.pattern">This price is invalid </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="addform__inputfield mat-form-field" appearance="outline">
      <mat-label>imageUrl</mat-label>
      <input matInput formControlName="imageUrl" autocomplete="off">
      <mat-error *ngIf="imageUrl?.touched && imageUrl?.invalid">
        <span *ngIf="imageUrl?.errors?.required">This field is mandatory. </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="addform__textareafield mat-form-field" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" autocomplete="off"></textarea>
      <mat-error *ngIf="description?.touched && description?.invalid">
        <span *ngIf="description?.errors?.maxlength">This shop name is too long. </span>
        <span *ngIf="description?.errors?.required">This field is mandatory. </span>
      </mat-error>
    </mat-form-field>

    <button class="addform__button"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="productAddForm.invalid || (isLoading$ | async)">
      Save
      <mat-icon *ngIf="isLoading$ | async">
        <mat-spinner color="accent" diameter="20"></mat-spinner>
      </mat-icon>
    </button>
    <p class="addform__text addform__text--danger fade-in mat-body" *ngIf="errorMsg$ | async; let errorMsg">{{ errorMsg }}</p>
    <p class="addform__text addform__text--successful fade-in mat-body" *ngIf="successMsg$ | async; let successfulMsg">{{ successfulMsg }}</p>
  </form>
</div>
