<div class="container">
  <h2 class="list__title text-center">
    Shop: <span class="list__subtitle">{{ (user$ | async)?.shopName || '' }}</span>
  </h2>
  <hr>
  <div class="upper__container">
    <div class="filter">
      <mat-form-field class="filter__bar" appearance="outline">
        <mat-icon matSuffix>search</mat-icon>
        <input class="filter__input" matInput [(ngModel)]="filterInput"
               (keyup)="applyFilter()" placeholder="Filter" autocomplete="off">
      </mat-form-field>
    </div>
    <div class="create__wrapper">
      <button class="create__button"
              mat-raised-button
              color="accent"
              type="button"
              (click)="onAdd()">
        Add a new product
        <mat-icon>
          add_box
        </mat-icon>
      </button>
    </div>
  </div>
  <app-dashboard-table [columns]="displayedColumns"
                       [dataSource]="dataSource"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="pageSizeOptions"
                       (clickAction)="tableActionHandler($event)"></app-dashboard-table>
</div>
