.quick-navigation {
  margin-top: 5px;
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  &__button {
    &:nth-child(odd) {
      margin-left: 0;
      margin-right: auto;
    }
    &:nth-child(even) {
      margin-left: auto;
      margin-right: 0;
    }
  }
}
.container {
  padding: 15px;
}

.list {
  &__title {
    font-weight: bold;
  }
  &__subtitle {
    font-weight: normal;
    color: darkblue;
  }
}

.text-center {
  text-align: center;
}

table {
  min-width: 100%;
  table-layout: fixed;
  width: 100%;
  overflow-x: auto;
  button {
    margin: 5px;
  }
  .mat-table {
    width: 100%;
    max-width: 100%;
    display: table;
    border-collapse: collapse;
    margin: 0;
  }

  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    word-break: break-all;
    display: table-cell;
    padding: 0 10px;
    line-break: unset;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
  }
  .mat-row,
  .mat-header-row {
    display: table-row;
  }
  .mat-success {
    background-color: green;
    color: #fff;
  }
}

.filter {
  margin-top: 2rem;
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  &__bar {
    width: 60%;
    display: inline-block;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.create__wrapper {
  display: flex;
}

.upper {
  &__container {
    display: flex;
  }
}

.create {
  &__wrapper {
    display: flex;
    width: 50%;
  }
  &__button {
    display: inline-block;
    margin: auto 0 auto auto;
  }
}



