<mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <ng-container *ngFor="let column of columns" [matColumnDef]="column.name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!column.sortable"> {{ column.name }} </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="!column.config; else hasConfig">
        {{ element[column.name] }}
      </ng-container>
      <ng-template #hasConfig>
        <ng-container *ngIf="column.config.isBoolean">
          {{ element[column.name] ? column.config.display.true : column.config.display.false }}
        </ng-container>
        <ng-container *ngIf="column.config.isAction">
          <ng-container *ngFor="let action of column.config.actions">
            <button
              *ngIf="action.isStandard; else isConditionalAction"
              (click)="onAction.emit(action)"
              [matTooltip]="action.tooltip"
              aria-label="{{ action.tooltip }}"
              color="{{ action.color }}"
              mat-mini-fab>
              <mat-icon>{{ action.icon }}</mat-icon>
            </button>
            <ng-template #isConditionalAction>
              <button
                (click)="onAction.emit(action)"
                [matTooltip]="action.tooltip"
                aria-label="{{ action.tooltip }}"
                color="{{ element[action.conditionBaseKey] ? action.color.true : action.color.false }}"
                mat-mini-fab>
                <mat-icon>{{ element[action.conditionBaseKey] ? action.icon.true : action.icon.false }}</mat-icon>
              </button>
            </ng-template>
          </ng-container>
        </ng-container>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnNames; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
</table>
<mat-paginator (page)="syncPrimaryPaginator($event)"
               [pageSize]="paginator?.pageSize || pageSize" [pageIndex]="paginator?.pageIndex || 0"
               [length]="paginator?.length || 0" [pageSizeOptions]="paginator?.pageSizeOptions || pageSizeOptions"></mat-paginator>
